.navigation {
    margin-left: 50px;
    margin-right: 50px;
    height: 69px;
}
.navigation ul{
    height: 100px;
    width: 700px;
    /*border: 1px solid #000;*/

    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.navigation li{
    display: inline;
    height: 90px;
}

.navigation li a{
    height: 28px;
    line-height: 28px;
    display: block;
    text-align: center;
    font-family: Arial;
    font-size: 19px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
}

.navigation li a:hover {
    background-color: #2586d7;
    margin-top: -2px;
    padding-bottom: 19px;
}

