<div class="container">
    <h1>修改课表信息</h1>

    <form id="updateUserForm">
        名称 {{updatedSchedule.course.name}}
        时间 <input ng-model = "updatedSchedule.date">
        顾客 <select ng-model = "updatedSchedule.customer" ng-options="customer.name for customer in customers">
        <option value="">----------全部顾客--------------</option>
    </select>
        私教 {{updatedSchedule.employee.name}}

        <button class="updateSchedule" ng-click="updateSchedule(updatedSchedule)">确认修改</button>
    </form>

</div>
