<div class="users">
    <table class="table">
        <tr>
            <th>姓名</th>
            <th>对应员工</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user.name}}</td>
            <td>{{user.employee.name}}</td>
            <td>
                <button ng-click="getUpdatePage(user)">修改</button>
            </td>
            <td>
                <button ng-click="deleteUser(user)">删除</button>
            </td>
        </tr>
    </table>
    <a class="normal-button" href="/web/userAdd">添加</a>
    <input ng-model="user.name">
</div>