<div class="users">
    <!--<div class="container">-->
        <!--<h1>修改用户信息</h1>-->

        <!--<form action="/web/userUpdate" method="post" id="updateUserForm">-->
            <!--<input name="id" hidden="hidden" value="user.id">-->
            <!--姓名 <input name="name" ng-model="user.name">-->
            <!--对应的员工 <select name="employee">-->
        <!--</select>-->
            <!--<input type="submit" value="确认修改" class="updateUser">-->
        <!--</form>-->

    <!--</div>-->
    <table class="table">
        <tr>
            <th>姓名</th>
            <th>对应员工</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user.name}}</td>
            <td>{{user.employee.name}}</td>
            <td>
                <button ng-click="getUpdatePage(user)">修改</button>
            </td>
            <td>
                <button ng-click="deleteUser(user)">删除</button>
            </td>
        </tr>
    </table>
    <button class="normal-button" ng-click="getAddPage()">添加</button>
</div>